*,
*::before,
*::after {
  box-sizing: border-box;
}

/*Typography*/

html {
  font-size: 62.5%;
}

:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --border-color: #ccc;
  --border-radius: 30px;
}

body {
  font-family: "Inter", sans-serif;
  /*font-family: 'Montserrat', sans-serif;*/
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}
p {
  margin-top: 0;
}
h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/*Links*/
a {
  text-decoration: none;
}
.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
}
.link-arrow::after {
  content: "-->";
  margin-left: 4px;
  transition: margin 0.5s;
}
.link-arrow:hover:after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */

.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background-color: var(--color-primary);
  color: white;
}

.badge--secondary {
  background-color: var(--color-secondary);
  color: white;
}

.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.3rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
  }
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url("../images/tick.svg");
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

.list--bold {
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0rem;
  }
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon-container {
  background: #f3f9f8;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* Button */

.btn {
  outline: 0;
  font-size: 1.8rem;
  padding: 2rem 3rem;
  margin: 1rem 0;
  border-radius: var(--border-radius);
  border-width: 0;
  text-transform: uppercase;
  font-weight: 600;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
}

.btn--outline {
  background-color: white;
  color: var(--color-headings);
  border-width: 2px;
  border-color: var(--color-headings);
}
.btn--accent {
  background-color: var(--color-accent);
  color: white;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: white;
}
.btn:hover {
  filter: brightness(90%);
}

.btn--outline:hover {
  filter: brightness(100%);
  background-color: var(--color-headings);
  color: white;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* input-text */

.input-text {
  border: 0;
  border-radius: var(--border-radius);
  outline: 0;
  color: var(--color-headings);
  font-size: 2rem;
  min-width: 0;
  padding-left: 2rem;
}

::placeholder {
  color: var(--border-color);
}

.input-group .btn {
  margin: 0;
}

.input-group {
  border: 0;
  display: flex;
  width: 90%;
  max-width: 72rem;
  border-radius: var(--border-radius);

  box-shadow: 0 0 10px var(--border-color);
}
.input-group .input-text {
  flex-grow: 1;
}

@media screen and (min-width: 1024px) {
  .input-text {
    font-size: 1.5rem;
  }
}

/* Card */

.card {
  box-shadow: 0 0 20px 10px var(--border-color);
  border-radius: 7px;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 2.3rem;
}

.card--primary .card__header {
  background-color: var(--color-primary);
  color: white;
}

.card--secondary .card__header {
  background-color: var(--color-secondary);
  color: white;
}

/* Plan */
.plan {
  margin-top: 2rem;
}

.plan__name {
  color: white;
  margin: 0;
  font-weight: 500;
  font-size: 2.4rem;
}

.plan__price {
  font-size: 6rem;
}

.plan__billing-cycle {
  font-size: 2.4rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}
.plan .badge--secondary {
  background: #02cdf1;
}

.plan .badge--primary {
  background: #126de4;
}

.plan__description {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
}

.plan .list__item {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.plan .card {
  width: 90%;
  max-width: 50rem;
}
.plan--popular .card__header {
  position: relative;
}

.plan--popular .card__header::before {
  content: url("../images/popular.svg");
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 5%;
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }
  .plan__price {
    font-size: 5rem;
  }

  .plan__billing-cycle {
    font-size: 1.6rem;
  }
  .plan__description {
    font-size: 1.7rem;
  }
  .plan .card {
    width: 34rem;
  }
  plan .list__item {
    font-size: 1.8rem;
  }
}

/* Media */
.media {
  display: flex;
}

.media__title {
  margin-top: 0;
}
.media__body {
  margin: 0 2rem;
}

.media__image {
  margin-top: 1rem;
}
