<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam,
      ratione.
    </p>
  </header>
  <div class="card card--secondary">
    <header class="card__header">Card Title</header>
    <section class="card__body">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque
        voluptas mollitia at sed tenetur eos pariatur fugiat odio omnis ratione.
      </p>
    </section>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam,
        ratione.
      </p>
    </header>
  </div>
</section>
